body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial;
}
.nav{
    width: 100%;
    height: 60px;
    display:flex;
    position: fixed;
    z-index: 10;
    background-color: white;
}
.logo img{
    height: 33px;
    width: 33px;
    margin-left: 55px;
    margin-top: 13px;
}
.text1, .text2{
    height: 30;
    width: 100px;
    text-align: center;
    font-size: 14px;
    padding-top: 8px;
   
}
.text1 a{
    color: #3c4043; 
    text-decoration: none;
}
.text2 a{
    color: #3c4043; 
    text-decoration: none;
}
.text1 a:hover{
    color: #1967d2;
}
.text2{
    text-align: left;
}
.text2 a:hover{
    color: #1967d2;
}
.search img{
    height: 20px;
    width: 20px;
    padding-left: 1000px;
    padding-top: 20px;
}
.question img{
    height: 20px;
    width: 20px;
    padding-top: 20px;
    padding-left: 28px;
}
.cart img{
    height: 20px;
    width: 20px;
    padding-top: 20px;
    padding-left: 28px;
}
.features1{
    width: 95%;
    height: 600px;
    margin: auto;
    background-color: #cddef5;
    margin-bottom: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.text-col{
    color: #3C4043;
   padding-right: 95px;
   padding-bottom: 18px;
}
.img-col2{
    padding-left: 40px;
    padding-top: 100px;
}
.img-col{
    padding-left: 40px;
    padding-top: 100px;
    margin-left: -420px; 
}
.text-col h1{
    font-size: 60px;
    letter-spacing: -3px;
}
.text-col .btn{
    color: white;
    background-color: #1967d2;
    border: 0;
    font-size: 17px;
    padding: 10px;
    border-radius: 5px;
    font: white;
}
.btn:hover{
    background-color: #25518c;
}
h1{
    color: #3C4043;
}
.context1{
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
.features2{
    width: 85%;
    height: 350px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.features2 .col{
    flex: 1;
}
.col h3{
    padding-left: 10px;
}
.col img{
    height: 200px;
    padding-left: 20px;
    padding-top: 20px;
}
.img-container{
    border-radius: 25px;
    background-color: #f8f9fa;
    margin: 15px;
    height: 250px 
}
#text-col {
    margin-left: 0%;
}
.btn1{
    background-color: #e3eefc;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid #565d63;
}
.btn1:hover{
    color: white;
    background-color:#565d63 ;
}
.btn2{
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid #565d63;
}
.btn2:hover{
    color: white;
    background-color:#565d63 ;
}
.container{
    margin-bottom: 100px;
    width: 90%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    overflow: hidden;
    flex: auto;
    padding: 30px;
    margin-bottom: 30px;
}
.features3 img{
    flex: 1;
    height: 850px;
    width: 600px;
    border-radius: 25px;
}
.features3{
    position: relative;
    text-align: center;
}
.features3 .txt{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 15%;
    left:50%;
}
.features4 img{
    flex: 1;
    height: 850px;
    width: 600px;
    border-radius: 25px;
}
.btn3{
    background-color: #e7dedf;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid #565d63;
}
.btn3:hover{
    color: white;
    background-color:#565d63 ;
}
.features4{
    position: relative;
    text-align: center;
}
.features4 .txt{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 15%;
    left:50%;
}
.btn4{
    background-color: #cedbdf;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid #565d63;
}
.btn4:hover{
    color: white;
    background-color:#565d63 ;
}
.disc1 a{
    color: #5273d3;
}
.disc1 p{
    color: #565d63;
    padding:50px 200px;
    font-size: 12px;
}
.disc2{
    width: 85%;
    height: 250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 200px;
}
.disc2 p{
    font-size: 15px;
    padding: 8px;
}
.disc2 a{
    text-decoration: none;
    color: #565d63;
}
.disc2 a:hover{
    color: #1967d2;
}
.footer{
    width: 85%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-top: 1px solid #f3f3f3; 
}
.footer-left img{
    padding: 7px;
}
.footer-right{
    font-size: 10px;
    display: flex;
}
.footer-right p{
    padding: 19px;
    color: #565d63;
}
.footer-right img{
    height: 20px;
    margin-top: 23px;
}
